.list-style {
  text-decoration: wavy;
  font-size: 2.3vh;
  font-family: Morality;
}
.list-style:hover {
  color: coral;
}
a {
  text-decoration: none;
  color: #dcdcdc;
}

.loading{
  font-family: Morality;
  font-size: 2.3vh;
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 1s infinite;
  animation: ellipsis steps(4, end) 1s infinite;
  content: "\2026";
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 40px;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 40px;
  }
}
