@font-face {
  font-family: 'Parisienne';
  src: url('assets/fonts/Parisienne.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Computerfont';
  src: url('assets/fonts/Computerfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BillionDreams_PERSONAL';
  src: url('assets/fonts/BillionDreams_PERSONAL.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
