<div class="p-4 d-flex">
  <div class="row">
    <div class="col-8">
      <p>
        Hello! I'm Umesh, Coming from a humble background, I've carved a path
        that led me to become a Technical Lead Software Engineer at TCS, where I
        bring my expertise in open-source computing and network engineering to
        life. My professional journey has taken me across continents, from my
        home country of India to the vibrant cultures of Uruguay and now the
        United Kingdom.
      </p>
      <p>
        Technology is my playground, and I have a particular fondness for
        open-source computing. I'm deeply fascinated by single-board computers
        like the Raspberry Pi, which offer endless possibilities for innovation.
        My technical skill set spans across computer networking and hypervisors,
        with Java and JavaScript being my go-to programming languages.
      </p>
      <p>
        Outside the tech world, I'm an avid enthusiast of cars and motorcycles,
        reveling in the engineering marvels and the thrill they provide.
        Photography is another passion of mine, allowing me to capture and
        appreciate the beauty of the world around me.
      </p>
      <p>
        My life is a blend of continuous learning and exploration, always
        seeking new challenges and opportunities to grow. Join me as I navigate
        through the exciting landscapes of technology and beyond, driven by
        curiosity and a relentless pursuit of excellence.
      </p>
    </div>
    <div class="col-4"></div>
  </div>
</div>
